/* Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    font-style: normal;
}
html
{
    font-size: 62.5%;
}
body
{
    background-color: #222;
}
.card
{
    width: 90%;
    max-width: 47rem;
    background: linear-gradient(135deg, #00feba, #5b548a);
    color: #fff;
    margin: 10rem auto 0;
    border-radius: 20px;
    padding: 4rem 3.5rem;
    text-align: center;
}
.search
{   
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.search input
{
    height: 6rem;
    width: 70%;
    margin-right: 1.6rem;
    padding: 1rem 2.5rem;
    font-size: 1.8rem;
    color: #555;
    background: #ebfffc;
    border: none;
    border-radius: 30px;
    outline: none;
}
.search button
{
    height: 6rem;
    width: 15%;
    background: #ebfffc;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    outline: none;
}
.search button img
{
    width: 27%;
}
.weather-icon
{
    width: 170px;
}
.weather h1
{
    font-size: 8rem;
    font-weight: 500;    
}
.weather h2
{
    font-size: 4.5rem;
    font-weight: 400;
    margin-top: -1rem;
}
.details
{
    display: flex;
    justify-content: space-between;
    padding: 0 2rem;
    margin-top: 5rem;
    align-items: center;
}
.col
{
    display: flex;
    align-items: center;
    text-align: left;
}
.col img
{
    width: 40px;
    margin-right: 1rem;
}
.humidity,
.wind
{
    font-size: 2.8rem;
    margin-top: -0.6rem;
}
.weather
{
    display: none;
}
.error
{
    margin-left: 1rem;
    margin-top: 1rem;
    text-align: left;
    font-size: 1.4rem;
    display: none;
}